<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="task-list">
        <h1>{{header.toUpperCase() || 'Welcome'}}</h1>
        <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
        <button v-else @click="doEdit(true)" class="btn btn-primry">Add Item</button>
        <div v-if="editing" class="add-item-form">
            <input 
              @keyup.enter="saveItem" 
              type="text" v-model="newItem" placeholder = "Add an Item">
            <label>
              <input type="checkbox" v-model="newItemHighPriority">
              High Priority
            </label>
            <button 
              @click="saveItem" 
              class="btn btn-primary">
              Save Item
            </button>
          </div>
          <p v-if="items.length === 0">Nice job! You've bought all your items!</p>
        <ul>
            <li v-for="{id, label} in items" :key="id"> {{label}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
            const taskList = Vue.createApp({
            data() {
                return {
                    header: "Task list",
                    newItem: '',
                    editing: false,
                    newItemPriority: false,
                    items: [
                        {id: 1, label: "first item"},
                        {id: 2, label: "second item"},
                        {id: 3, label: "third item"}
                    ]
                }
            },
            methods: {
                saveItem() {
                    this.items.push({id:this.items.length + 1, label: this.newItem})
                    this.newItem = ""
                },
                doEdit(editing){
          this.editing = editing
          this.newItem = ""
        }
                
            }
        }).mount('#task-list')
    </script>
</body>
</html>