<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .striked {
            text-decoration: line-through;
        }
        .priority {
            color:red;
        }
    </style>
</head>
<body>
    <div id="task-list">
        <h1>{{header.toUpperCase() || 'Welcome'}}</h1>
        <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
        <button v-else @click="doEdit(true)" class="btn btn-primry">Add Item</button>
        <div v-if="editing" class="add-item-form">
            <input 
              @keyup.enter="saveItem" 
              type="text" v-model="newItem" placeholder = "Add an Item">
              <p class="counter">{{characterCount}} / 200</p>
            <label>
              <input type="checkbox" v-model="newItemPriority">
              High Priority
            </label>
            <button 
              v-bind:disabled="newItem.length === 0"
              @click="saveItem" 
              class="btn btn-primary">
              Save Item
            </button>
          </div>
          <p v-if="items.length === 0">Nice job! You've bought all your items!</p>
        <ul>
            <li 
                v-for="item in reversedItems" 
                :key="item.id"
                @click="toggle(item)"
            :class="[
                {striked: item.completed},
                {priority: item.highPriority},
                'static-class'
            ]"> {{item.label}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
            const taskList = Vue.createApp({
            data() {
                return {
                    header: "Task list",
                    newItem: '',
                    editing: false,
                    highPriority: false,
                    items: [
                        {id: 1, label: "first item", completed: true, highPriority: false},
                        {id: 2, label: "second item", completed: true, highPriority: false},
                        {id: 3, label: "third item", completed: false, highPriority: true}
                    ]
                }
            },
            computed: {
                characterCount() {
                    return this.newItem.length
                },
                reversedItems() {
                    return[...this.items].reverse()
                }
            },
            methods: {
                saveItem() {
                    this.items.push({
                        id:this.items.length + 1, 
                        label: this.newItem,
                        highPriority: this.newItemPriority,
                        completed: false
                    })
                
                    this.newItem = ""
                    this.newItemPriority = ""
                },
                doEdit(editing){
                    this.editing = editing
                    this.newItem = ""
                },
                toggle(item) {
                    item.completed = !item.completed
                }
                
            }
        }).mount('#task-list')
    </script>
</body>
</html>